<!DOCTYPE html>

<title>Edit Cave</title>

{% block body %}
    <h1>Edit Cave</h1>

    {{ include('cave/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('cave_index') }}">back to list</a>

    {{ include('cave/_delete_form.html.twig') }}
{% endblock %}
