{% extends 'base.html.twig' %}
{% block body %}
    <h1>Inscription</h1>
    {{ form_start(form) }}
        {{ form_row(form.username, {'label':"Nom d'utilisateur",'attr':{'placeholder': "nom d'utilisateur"}}) }}
        {{ form_row(form.password,{'label':'Mot de passe','attr':{'placeholder': "mot passe"}}) }}
    <button type="submit" class="btn btn-success">inscription</button>
    {{ form_end(form) }}
{% endblock %}
