@import "../css/_variables";
body{
  a{
    cursor: pointer;
  }
}
.content{
  padding: $content-padding-top $content-padding-right $content-padding-bottom $content-padding-left;
  height: 100%;
  .page-title{
    text-align: center;
    margin-bottom: 30px;
  }
}

.btn-form{
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}

.btn-add{
  margin-bottom: 20px;
}

.td-action{
  display: flex;
  a{
    margin-right: 5px;
  }
}
