@import "../../node_modules/bootstrap/scss/_functions.scss";
@import "../../node_modules/bootstrap/scss/_variables.scss";


$navbar-sidebar-width: 232px;
$navbar-sidebar-breakpoint: 'md';

//Content
//////////////////////////
$content-padding-top: 30px;
$content-padding-bottom: 0px;
$content-padding-left: 30px;
$content-padding-right: 30px
