{{ form_start(form) }}
    {{ form_widget(form) }}
    <label for="quantite">Quantité</label>
    <input type="text" class="form-control" id="quantite" required name="quantite">
    <div class="btn-form">
        <button class="add-btn btn-primary btn-sm text-decoration-none">{{ button_label|default('Ajouter') }}</button>
    </div>
{{ form_end(form) }}
