{% extends 'base.html.twig' %}

{% block body %}
    <div class="content">
        <h1 class="page-title">Mes caves</h1>
        {{ dump(caves) }}
        {% for cave in caves %}
            <div>{{ cave.name }}</div>
        {% endfor %}
    </div>
{% endblock %}
