{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="page-title">Mes caves</h1>
    {{ dump(caves) }}
    {% for cave in caves %}
        <div>{{ cave.name }}</div>
    {% endfor %}
{% endblock %}
