{% extends 'base.html.twig' %}

{% block body %}
    {% include '/modal/couleurs/add-couleur-modal.html.twig' %}
    <h1 class="page-title">Mes vins</h1>
    {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_USER') %}
                <button type="button" class="btn-add couleur btn btn-primary btn-lg text-decoration-none"
                        data-toggle="modal"
                        data-target="#addCouleurModal">
                    Ajouter une couleur
                </button>
    {% endif %}
    <table class="table">
        <thead>
        <tr>
            <th>Nom</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for couleur in couleurs %}
            <tr>
                <td>{{ couleur.Name }}</td>
                <td class="td-action">
                    {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_USER') %}
                        {{ include('couleurs/delete.html.twig') }}
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
