{% block body %}
    {{ form_start(form) }}
        {{ form_widget(form) }}
    <div class="btn-form">
        <button class="add-btn btn-primary btn-sm text-decoration-none">{{ button_label|default('Ajouter') }}</button>
    </div>
    {{ form_end(form) }}
{% endblock %}
